[user]
	name = Ryohei Kuroki
	email = ryohei.kuroki@gmail.com
[core]
	pager = LESSCHARSET=utf-8 less
	editor = vi -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ryohei/.stCommitMsg
